---
import { cn } from "@/utils";

export interface Props {
  class?: string;
  orientation?: "horizontal" | "vertical";
  decorative?: boolean;
}

const { 
  class: className, 
  orientation = "horizontal", 
  decorative = true,
  ...props 
} = Astro.props;
---

<div
  role={decorative ? "none" : "separator"}
  aria-orientation={orientation}
  class={cn(
    "shrink-0 bg-border",
    orientation === "horizontal" ? "h-[1px] w-full" : "h-full w-[1px]",
    className
  )}
  {...props}
></div>